@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Audiowide&family=Kanit:wght@300;400&family=Pacifico&family=Poppins:wght@300&family=Proza+Libre&family=Roboto:wght@100&family=Stick+No+Bills:wght@500;600&family=Young+Serif&display=swap');

section {
    max-width: 500px;
    min-height: 100vh;
    overflow: hidden;
}
.navbar span{
    font-family: 'Poppins', sans-serif;
}
.maindiv {
    width: 90%;
}
.subdiv1 span {
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
}
.subdiv1 p {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}
.subdiv1 .region{
    font-size: 0.9rem;
}
.subdiv2 span {
    font-size: 29px;
}
.subdiv3 img {
    height: 70px;
    width: 70px;
}
.subdiv3 .weather img {
    height: 25px;
    width: 25px;
}
.subdiv3 .weather span {
    font-size: 14px;
}
.subdiv3 .weather {
    width: 109%;
}
.condition span{
    font-size:28px;
    font-weight:250px;
}
.subdiv3 .weather .humidity {
    margin-left: 8px;
}
footer {
    font-family: 'Poppins', sans-serif;
}
